body{
  background-color:Antiquewhite;
}

.myDiv {
	border: 1px outset red ;
	padding: 50px;
	height: 100px;
	width: 300px;
	margin: auto;
	background-color: White;
	text-align: center;
}
h1{ 
	border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 650px;
  margin-left: 650px;
  background-color: White;
  
}
#answer{
background-color: White;
display: none;
}

#left{ 

  margin-right: 1100px;
  margin-left: 1100px;
  background-color: AntiqueWhite;
  
}
#move{
  margin-right: 800px;
  margin-left: 810px;
}



