body{
  background-color:Antiquewhite;
}

.myDiv {
	border: 1px outset red ;
	padding: 50px;
	height: 100px;
	width: 300px;
	margin: auto;
	background-color: White;
	text-align: center;
}
h1{ 
	border: 1px solid black;
  text-align: center;
  background-color: White;
  
}
#answer{
background-color: White;
display: none;
}

#left{ 

  margin-right: 300px;
  float: right;
  background-color: AntiqueWhite;
}
#right{ 

 float: left;
  margin-left: 300px;
  background-color: AntiqueWhite;
}
#move{
    
   text-align: center;
}



